<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Thank your for registering for the following POLICE TECHNICAL class:</p>

    <p><strong>{{ cls.title }}</strong>in&nbsp;<strong>{{ cls.city }}, {{ cls.state }}&nbsp;</strong>from&nbsp;<strong>{{ cls.date }}</strong></p>

    <p>The class location is:</p>

    <p><strong>{{ cls.location }}</strong></p>

    <p>The class times are:&nbsp;<strong>{{ cls.startTime }} - {{ cls.endTime }}</strong></p>

    <p>The instructor for this course is scheduled to be&nbsp;<strong>{{ cls.instructor }}</strong>.</p>

    <p>To view more information about this class, please access your student profile from the link below.</p>

    <p><a href="https://www.policetechnical.com/login/">Access Student Profile</a></p>
  </body>
</html>
